<div  class="h-app" data-dojo-attach-point="contentNode">
  <div data-dojo-type="dijit/layout/LayoutContainer" data-dojo-props="design:'headline'" class="h-app">
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'" class="h-header-layout">
      <div data-dojo-type="app/main/Header"></div>
    </div>
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'leading'" class="h-nav-layout">
      <div data-dojo-type="app/main/Nav"></div>
    </div>
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" class="h-stage-layout">
      <div data-dojo-type="app/main/Stage"></div>
    </div>
  </div> 
</div>