<div class="h-processes" data-dojo-attach-point="contentNode">
  <div class="h-processes-layout">
    <div class="h-current-processes">
      <div class="h-current-processes-header">
        <div class="h-processes-caption" data-dojo-attach-point="captionNode">
          ${i18n.processes.caption}
        </div>
        <button
          class="h-process-purge"
          data-dojo-type="dijit/form/Button"
          type="button"
          data-dojo-attach-event="onClick:_onPurge"
        >
          ${i18n.processes.purge}
        </button>
      </div>
      <div data-dojo-attach-point="processesNode" class="h-process-content"></div>
    </div>
    <div class="h-scheduled-processes">
      <div class="h-processes-trigger-caption" data-dojo-attach-point="triggersCaptionNode">
        ${i18n.triggers.caption}
      </div>
      <div data-dojo-attach-point="triggersNode" class="h-process-content" />
    </div>
  </div>
</div>
