<div class="h-task-renamer" data-dojo-attach-point="contentNode">
    <div class="h-task-renamer-name-section">
      <label class="h-task-renamer-name-label" for="name">${i18n.tasks.editor.name}</label>
      <input class="h-task-renamer-name-value" id="name" data-dojo-attach-point="taskName" type="text"/>
    </div>
  
    <div class="h-task-renamer-footer">
      <button data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:_onSubmit">${i18n.tasks.renamer.submit}</button>
      <button data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:_onCancel">${i18n.tasks.renamer.cancel}</button>
    </div>
</div>