<div class="h-tasks" data-dojo-attach-point="contentNode">
  <div class="h-tasks-caption" data-dojo-attach-point="captionNode">
    <span class="h-tasks-caption-text">${i18n.tasks.caption}</span>
    <span class="h-tasks-caption-grouping">
      <input id="groupBy" 
             data-dojo-type="dijit/form/CheckBox" 
             data-dojo-attach-event="onChange: _onGroupByClicked"
             data-dojo-attach-point="groupByCheckBox"/>
      <label for="groupBy">${i18n.tasks.groupBy}</>
    </span>
  </div>
  <div class="h-tasks-content" data-dojo-attach-point="contentNode"></div>
  <div class="h-tasks-footer" data-dojo-attach-point="footerNode" style="display: table;">
    <button class="h-tasks-add" data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onClick:_onAdd"  style="display: table-cell;">${i18n.tasks.add}</button>
    <span class="n-tasks-import" style="display: table-cell;">
      <form method="post" action="rest/harvester/tasks/upload" id="myForm" enctype="multipart/form-data" >
        <input class="h-tasks-import-button" name="file" multiple="false" type="file" label="${i18n.tasks.imp}" id="uploader" 
               data-dojo-type="dojox.form.Uploader" 
               data-dojo-attach-point="uploader"
               data-dojo-attach-event="onComplete:_onUpload" 
               data-dojo-props="uploadOnSelect: true" />
      </form>
    </span>
  </div>
</div>