html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: 0px;
}

.h-app-container {
  height: 100%;
  width: 100%;
  display: flex !important;
  flex-direction: column;
}

.h-app {
  height: 100%;
  width: 100%;
  display: flex !important;
  flex-direction: column;
}

.h-header-layout {
  height: 52px;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4px 16px !important;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(185, 185, 185, 0.25);
  z-index: 1;
}

.h-header-container {
  display: flex;
  flex: 0 1 1280px;
  align-items: center;
}

.h-header {
  width: 100%;
  flex: 1;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
}

.h-branding {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.h-brand-logo {
  width: 28px;
  height: 28px;
}

.h-header-caption {
  margin-left: 8px;
  font-size: 16px;
  line-height: 22px;
  color: #404040;
}

.h-header-logout {
  float: right;
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.h-nav-layout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h-nav {
  flex: 0 1 auto;
  display: flex;
}

.h-nav > .h-nav-button {
  margin-right: 16px;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 22px;
  color: #404040;
  border-bottom: 4px solid #ffffff;
  cursor: pointer;
}

.h-nav > .h-nav-button:hover {
  border-bottom: 4px solid #2890ce;
}

.active-tab {
  border-bottom: 4px solid #2890ce !important;
}

.h-version {
  flex: 1;
  align-self: center;
  text-align: right;
  font-size: 14px;
  line-height: 1;
  color: #404040;
}

.h-stage-layout {
  display: flex;
  flex: 1 1 auto;
  background: #f3f3f3;
  overflow: auto;
}

.h-stage {
  display: flex;
  flex: 1 1 auto;
}

.h-brokers {
  flex: 1 1 auto;
  max-width: 960px;
  margin: 0px auto;
  padding: 12px;
}

.h-brokers-layout {
  height: 100%;
  display: flex;
}

.h-brokers-output {
  flex: 1;
}

.h-brokers-input {
  flex: 1;
  margin-right: 20px;
}

.h-brokers-footer {
}

.h-brokers-content {
  display: flex;
  flex-direction: column;
}

.h-brokers-caption {
  display: flex;
}

.h-brokers-caption-text {
  font-size: 24px;
  line-height: normal;
  color: #404040;
}

.h-brokers-caption-grouping {
  position: relative;
  top: 4px;
  margin-right: 8px;
  line-height: 22px;
  color: #959595;
}

.h-brokers-filter {
  margin-left: auto;
  margin-right: 8px;
}

.h-broker-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 10px;
  padding-top: 4px;
}

.h-broker-group .h-broker {
  margin: 4px 0px;
}

.h-broker {
  margin: 8px 0px;
  padding: 12px 16px;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(223, 223, 223, 0.6);
}

.h-broker-body {
  display: flex;
  flex: 1;
  align-content: space-between;
}

.h-broker-main {
}

.h-broker-extra {
  color: grey;
}

.h-broker:hover span {
}

.h-broker-type {
  line-height: 24px;
  font-size: 12px;
  margin-right: 1em;
  color: #6a6a6a;
}

.h-broker-label {
  font-weight: 500;
  line-height: 24px;
  font-size: 15px;
  margin-right: 1em;
}

.h-broker-edit {
  color: #2890ce;
  line-height: 24px;
  margin-left: auto;
  cursor: pointer;
}

.h-broker-edit:hover {
  text-decoration: underline;
}

.h-broker-remove {
  cursor: pointer;
  color: #de2900;
  line-height: 24px;
  margin-left: 8px;
}

.h-broker-remove:hover {
  text-decoration: underline;
}

.h-brokers-add {
  text-decoration: underline;
  cursor: pointer;
}

.h-brokers-add .dijitButtonNode {
  color: #007ac2;
  border-color: #007ac2;
}

.h-brokers-add .dijitButtonNode:hover {
  color: #fff;
  background-color: #007ac2;
}

.h-brokers-remove-dialog {
  width: 300px;
}

.h-status {
}

.h-status-message {
}

.h-status-message-info {
  color: black;
}

.h-status-message-error {
  color: red;
}

.h-editor-line {
  display: table-row;
}

.h-editor-argname {
  font-weight: bold;
}

.h-editor-argctrl {
}

.h-editor-argctrl-hint {
  font-size: small;
  font-style: italic;
}

.h-editor-form {
  width: 100%;
  display: table;
  border-spacing: 0.5em;
}

.h-editor-form div > span {
  display: table-cell;
}

.h-editor-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 16px;
}

.h-processes {
  flex: 1 1 auto;
  max-width: 960px;
  margin: 0px auto;
  padding: 24px;
}

.h-processes-layout {
  height: 100%;
  display: flex;
}

.h-current-processes {
  flex: 1;
  margin-right: 80px;
}

.h-scheduled-processes {
  flex: 1;
}

.h-process-content {
  display: flex;
  flex-direction: column;
}

.h-current-processes-header {
  display: flex;
  height: 32px;
}

.h-process-purge {
  margin-left: auto;
  line-height: 22px;
  color: #959595;
}
.h-process-purge .dijitButtonText {
  font-size: 14px;
  color: #959595;
  line-height: normal;
}
.h-process-purge .dijitButtonContents {
  padding: 8px 0px;
}

.h-process-purge .dijitButtonNode {
  border: none;
  background-color: #f3f3f3;
  transition: none;
}
.h-process-purge .dijitButtonNode:hover span {
  background-color: #f3f3f3;
  color: #2890ce;
}

.h-processes-process {
  display: flex;
  flex-direction: column;
  margin: 8px 0px;
  box-shadow: 0px 1px 2px rgba(223, 223, 223, 0.6);
  padding: 12px 16px;
  flex: 1;
  background: #fff;
}

.h-processes-process-main {
  display: flex;
  justify-content: space-between;
}

.h-processes-process-extra {
  display: flex;
  justify-content: space-between;
}

.h-processes-process-main-title {
}

.h-processes-process-main-controls {
  display: inline-flex;
}

.h-processes-process-main-controls > span {
  max-height: 24px;
  margin-left: 6px;
}

.h-processes-caption {
  font-size: 24px;
  line-height: normal;
  color: #404040;
}

.h-processes-footer {
  margin-bottom: 2em;
}

.h-processes-process-uuid {
  color: lightgray;
  display: none;
  margin-right: 1em;
}

.h-processes-process-title {
  font-weight: 500;
  line-height: 24px;
  font-size: 15px;
  margin-right: 1em;
}

.h-processes-process-status {
}

.h-processes-process-cancel {
  color: #de2900;
  line-height: 24px;
  cursor: pointer;
}

.h-processes-process-cancel:hover {
  text-decoration: underline;
}

.h-processes-process-history {
  color: #2890ce;
  line-height: 24px;
  cursor: pointer;
}

.h-processes-process-history:hover {
  text-decoration: underline;
}

.h-processes-trigger {
  box-shadow: 0px 1px 2px rgba(223, 223, 223, 0.6);
  margin: 8px 0px;
  padding: 12px 16px;
  background: #fff;
}

.h-processes-trigger-body {
  display: flex;
  flex: 1;
}

.h-processes-trigger-extra {
  color: #757575;
  line-height: 24px;
}

.h-processes-trigger-remove-dialog {
  width: 400px;
}

.h-processes-trigger-caption {
  height: 32px;
  font-size: 24px;
  line-height: normal;
  color: #404040;
}

.h-processes-trigger-uuid {
  color: lightgray;
  display: none;
  margin-right: 1em;
}

.h-processes-trigger-title {
  font-weight: 500;
  line-height: 24px;
  font-size: 15px;
  margin-right: 1em;
}

.h-processes-trigger-cancel {
  cursor: pointer;
  color: #de2900;
  line-height: 24px;
  margin-left: auto;
}

.h-processes-trigger-cancel:hover {
  text-decoration: underline;
}

.h-status-completed {
  padding: 2px 4px;
  color: #404040;
  font-size: 12px;
  background: rgba(207, 239, 211, 0.8);
}

.h-status-working {
  padding: 2px 4px;
  color: #404040;
  font-size: 12px;
  background: #ffe8ae;
}

.h-status-aborting {
  line-height: 24px;
  font-style: italic;
}

.h-processes-process-progress {
  color: #757575;
  line-height: 24px;
}

.h-tasks {
  flex: 1 1 auto;
  max-width: 960px;
  margin: 0px auto;
  padding: 12px;
}

.h-tasks-filters-grouping {
  margin-left: auto;
}

.h-tasks-content {
  display: table;
}

.h-task {
  display: flex;
  box-shadow: 0px 1px 2px rgba(223, 223, 223, 0.6);
  padding: 12px 16px;
  flex: 1;
  background: #fff;
  align-content: space-between;
  margin: 8px 0px;
}

.h-tasks-add {
  margin-left: 16px;
  text-decoration: underline;
  cursor: pointer;
}

.h-tasks-caption {
  display: flex;
}

.h-tasks-caption-text {
  font-size: 24px;
  line-height: normal;
  color: #404040;
}

.h-tasks-caption-grouping {
  position: relative;
  top: 4px;
  line-height: 22px;
  color: #959595;
}

.h-tasks-caption-grouping #groupBy {
}

.h-tasks-caption-grouping label {
}

.h-task-group {
  padding-bottom: 1em;
  padding-top: 1em;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 1em;
}

.h-task-group .h-task {
  margin: 4px 0px;
}

.h-task-group-caption {
  font-size: 14px;
}

.h-tasks-filters-filter {
  margin-right: 1em;
}

.h-tasks-filters-filter-input {
}

.h-tasks-filters-filter-output {
}

.h-tasks-footer {
  margin-top: 16px;
}

.h-tasks-footer > span {
  padding-right: 0.3em;
}

.h-tasks-import {
  margin-left: 8px;
}

.h-tasks-import-button > input {
  cursor: pointer;
}

.h-tasks-remove-dialog {
  width: 300px;
}

.h-tasks-run-dialog {
  width: 300px;
}

.h-tasks-run-dialog-options {
  margin-top: 1em;
  margin-bottom: 1em;
}

.h-tasks-run-dialog-options > label {
  margin-left: 0.5em;
  font-weight: normal;
}

.h-history {
  flex: 1 1 auto;
  max-width: 960px;
  margin: 0px auto;
  padding: 24px;
}

.h-history-caption {
  font-size: 24px;
  line-height: normal;
  color: #404040;
}

.h-history-subtitle {
  font-size: 14px;
}

.h-task-run {
  cursor: pointer;
  color: #2890ce;
  line-height: 24px;
  margin-left: auto;
}

.h-task-run:hover {
  text-decoration: underline;
}

.h-task-schedule {
  cursor: pointer;
  color: #2890ce;
  line-height: 24px;
  margin-left: auto;
  margin-left: 8px;
}

.h-task-schedule:hover {
  text-decoration: underline;
}

.h-task-rename {
  cursor: pointer;
  color: #2890ce;
  line-height: 24px;
  margin-left: auto;
  margin-left: 8px;
}

.h-task-rename:hover {
  text-decoration: underline;
}

.h-task-export {
  cursor: pointer;
  text-decoration: none;
  color: #2890ce;
  line-height: 24px;
  margin-left: auto;
  margin-left: 8px;
}

.h-task-export:hover {
  text-decoration: underline;
}

.h-task-remove {
  cursor: pointer;
  color: #de2900;
  line-height: 24px;
  margin-left: auto;
  margin-left: 16px;
}

.h-task-remove:hover {
  text-decoration: underline;
}

.h-task-history {
  cursor: pointer;
  color: #2890ce;
  line-height: 24px;
  margin-left: auto;
  margin-left: 8px;
}

.h-task-history:hover {
  text-decoration: underline;
}

.h-tasks-content {
  display: flex;
  flex-direction: column;
}

.h-task-label {
  font-weight: 500;
  line-height: 24px;
  font-size: 15px;
  margin-right: 1em;
}

.h-task-scheduled {
  color: #404040;
  font-weight: 500;
  line-height: 24px;
  font-size: 12px;
  padding: 2px 4px;
  background: #efefef;
  margin-right: 1em;
}

.h-task-running {
  color: #404040;
  font-weight: 500;
  line-height: 24px;
  font-size: 12px;
  padding: 2px 4px;
  background: #ffe8ae;
  margin-right: 1em;
}

.h-task-edit {
  text-decoration: underline;
  cursor: pointer;
}

.h-task-editor {
  min-width: 600px;
}

.h-task-editor-brokers {
}

.h-task-editor-cell {
  padding: 0.5em;
}

.h-task-editor-scroll {
  height: 400px;
  overflow-y: auto;
}

.h-task-editor-cell-caption {
  font-weight: bold;
  background-color: lightgray;
}

.h-task-editor-inputs {
}

.h-task-editor-outputs {
}

.h-task-editor-row {
}

.h-task-editor-table {
  width: 100%;
}

.h-task-editor-content {
}

.h-task-editor-content .h-task-editor-cell {
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  width: 50%;
}

.h-task-editor-header {
}

.h-task-editor-input-label,
.h-task-editor-output-label {
  margin-left: 0.5em;
}

.h-task-editor-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 16px;
}

.h-task-editor-name-section {
  margin-bottom: 1em;
}

.h-task-editor-name-label {
  margin-right: 1em;
}

.h-task-editor-name-value {
  width: 240px;
}

.h-task-renamer {
}

.h-task-renamer-name-section {
  margin-bottom: 1em;
}

.h-task-renamer-name-label {
  margin-right: 1em;
}

.h-task-renamer-name-value {
  width: 240px;
}

.h-task-renamer-footer {
}

.h-history-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 16px 0px;
}

.h-history-body > div {
  display: table-cell;
}

.h-history-content {
  display: table;
  width: 100%;
}

.h-history-failed-title {
  margin: 32px 0px 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #404040;
}

.h-history-failed {
  display: flex !important;
  flex-direction: column;
  padding: 24px 24px;
  background: #fff;
}

.h-history-failed > div {
  margin: 4px 0px;
}

.h-history-failed > span {
  margin-right: 1em;
}

.h-history-failed a:hover {
  text-decoration: underline;
}
.h-history-failed a {
  font-size: 14px;
  color: #2890ce;
  text-decoration: none;
}

.h-history-header {
  display: table-row;
  font-weight: bold;
}

.h-history-header .h-event-prop {
  background: #e5e5e5 !important;
  font-size: 14px;
}

.h-event {
  display: table-row;
}

.h-event-prop {
  display: table-cell;
  white-space: nowrap;
  padding: 12px 20px;
  border-bottom: 1px solid #f3f3f3 !important;
  background: #fff;
}

.h-event-prop a {
  color: #2890ce;
  text-decoration: none;
}
.h-event-prop a:hover {
  text-decoration: underline;
}

.h-event-more {
  float: right;
}

.h-event-details {
}

.h-period-radio {
  margin-right: 1em;
}

.h-error-header {
  width: 100%;
  background-color: red;
  color: white;
  padding: 15px;
  vertical-align: middle;
  font-weight: 400;
  font-size: 16px;
}

.h-error-content {
  padding: 15px;
}

.h-broker-editor {
  min-width: 720px;
}

.h-broker-editor .dijitSelect {
  width: 100% !important;
}

.h-broker-editor .dijitTextBox {
  width: 100%;
}

.h-history-subtitle {
  font-size: 14px;
}

.h-stage-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  background: #fff;
  box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #404040;
  font-size: 16px;
  line-height: 22px;
}

/* Button overrides */
.dijitButtonNode {
  color: #007ac2 !important;
  border-color: #007ac2 !important;
}

.dijitButtonNode:hover {
  color: #fff !important;
  background-color: #007ac2 !important;
}
