html,body {
  width:100%; 
  height:100%; 
  margin:0; 
  padding:0; 
  overflow:hidden;
  margin-bottom: 0px;
}

.h-app {
  height: 100%;
  width: 100%;
}

.h-header-layout {
  height: 20px;
  background-color: #196fa6;
}

.h-header {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
}

.h-nav-layout {
  width: 120px;
}

.h-nav {
  height: 100%;
}

.h-nav > .h-nav-button {
  cursor: pointer;
  border: #ebebeb solid thin;
  margin-bottom: 0.5em;
  margin-right: 1em;;
  padding-top: 4px;
  padding-right: 6px;
  padding-bottom: 4px;
  padding-left: 6px;}

.h-nav > .h-nav-button:hover {
  background-color: lightgray;
}

.h-stage-layout {
  
}

.h-stage {
  height: 100%;
}

.h-brokers {
  
}

.h-brokers-content {
  display: table;
}

.h-brokers-caption {
  font-size: medium;
  font-weight: bold;
  background-color: lightgray;
}

.h-broker {
  display: table-row;
}

.h-broker > span {
  display: table-cell;
  padding-right: 0.2em;
}

.h-broker-type {
}

.h-broker-label {
  font-weight: bold;
}

.h-broker-edit {
  text-decoration: underline;
  cursor: pointer;
}

.h-broker-remove {
  text-decoration: underline;
  cursor: pointer;
}

.h-brokers-add {
  text-decoration: underline;
  cursor: pointer;
}


.h-status {
  
}

.h-status-message {
  
}

.h-status-message-info {
  color: black;
}

.h-status-message-error {
  color: red;
}

.h-editor-line {
  display: table-row;
}

.h-editor-argname {
  font-weight: bold;
}

.h-editor-argctrl {
  
}

.h-broker-editor {
}

.h-editor-form {
  display: table;
  border-spacing: 0.5em;
}

.h-editor-form div > span {
  display: table-cell;
}

.h-editor-footer {
  
}

.h-processes {
  
}

.h-processes-process {
  
}

.h-processes-caption {
  font-size: medium;
  font-weight: bold;
  background-color: lightgray;
}

.h-processes-footer {
  margin-bottom: 2em;
}

.h-processes-process > span {
  margin-right: 1em;
}

.h-processes-process-uuid {
  color: lightgray;
  display: none;
}

.h-processes-process-title {
 font-weight: bold; 
}

.h-processes-process-status {
  
}

.h-processes-process-cancel {
  text-decoration: underline;
  cursor: pointer;
  color: red;
}

.h-processes-trigger {
  
}

.h-processes-trigger-caption {
  font-size: medium;
  font-weight: bold;
  background-color: lightgray;
}

.h-processes-trigger > span {
  margin-right: 1em;
}

.h-processes-trigger-uuid {
  color: lightgray;
  display: none;
}

.h-processes-trigger-title {
 font-weight: bold; 
}

.h-processes-trigger-cancel {
  text-decoration: underline;
  cursor: pointer;
  color: red;
}

.h-status-completed {
  color: green;
}

.h-status-working {
  color: darkorange;
}


.h-tasks-content {
  display: table;
}

.h-task {
  display: table-row;
}

.h-tasks-add {
  text-decoration: underline;
  cursor: pointer;
}

.h-tasks-caption {
  font-size: medium;
  font-weight: bold;
  background-color: lightgray;
}

.h-tasks-footer > span {
  padding-right: 0.3em;
}

.n-tasks-import-button > input {
  cursor: pointer;
}

.h-history-caption {
  font-size: medium;
  font-weight: bold;
  background-color: lightgray;
}

.h-link {
  text-decoration: underline;
  cursor: pointer;
}

.h-task-remove {
}

.h-task-run {
  color: black;
  padding-right: 0.2em;
}

.h-task-history {
}

.h-tasks-content {
  display: table;
}

.h-task > span {
  display: table-cell;
  padding-right: 0.2em;
}

.h-task-label {
  font-weight: bold;
}

.h-task-edit {
  text-decoration: underline;
  cursor: pointer;
}

.h-task-editor {
  
}

.h-task-editor-brokers {
  
}

.h-task-editor-cell {
  padding: 0.5em;
}

.h-task-editor-cell-caption {
  font-weight: bold;
  background-color: lightgray;
}

.h-task-editor-inputs {
  
}

.h-task-editor-outputs {
  
}

.h-task-editor-row {
  
}

.h-task-editor-table {
  
}

.h-task-editor-content {
  
}

.h-task-editor-content .h-task-editor-cell {
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
}

.h-task-editor-header {
  
}

.h-task-editor-input-label, .h-task-editor-output-label {
  margin-left: 0.5em;
}

.h-task-editor-footer {
  
}

.h-history-content {
  display: table;
}

.h-history-header {
  display: table-row;
  font-weight: bold;
}

.h-event {
  display: table-row;
}

.h-event-prop {
  display: table-cell;
  padding: 0.2em;
  border-right: 1px solid grey;
}

.h-history-header .h-event-prop {
  border-bottom: 1px solid black;
}

.h-period-radio {
  margin-right: 1em;
}