html,body {
  width:100%; 
  height:100%; 
  margin:0; 
  padding:0; 
  overflow:hidden;
  margin-bottom: 0px;
}

.h-app {
  height: 100%;
  width: 100%;
}

.h-header-layout {
  height: 20px;
  background-color: #196fa6;
  width: 100% !important;
}

.h-header {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
}

.h-header-caption {
  
}

.h-header-logout {
  float: right;
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.h-nav-layout {
  width: 120px;
}

.h-nav {
  height: 100%;
}

.h-nav > .h-nav-button {
  cursor: pointer;
  border: #ebebeb solid thin;
  margin-bottom: 0.5em;
  margin-right: 1em;;
  padding-top: 4px;
  padding-right: 6px;
  padding-bottom: 4px;
  padding-left: 6px;}

.h-nav > .h-nav-button:hover {
  background-color: lightgray;
}

.h-stage-layout {
  
}

.h-stage {
  height: 100%;
}

.h-brokers {
  margin-bottom: 2em;
}

.h-brokers-footer {
  margin-top: 2em;
}

.h-brokers-content {
  display: table;
}

.h-brokers-caption {
  font-size: medium;
  font-weight: bold;
  background-color: lightgray;
  padding-left: 0.5em;
}

.h-brokers-caption-text {
  
}

.h-brokers-caption-grouping {
  float: right;
  font-weight: normal;
  margin-right: 1em;
}

.h-broker-group {
  border-bottom: lightgray 1px solid;
  padding-bottom: 1em;
  padding-top: 1em;
}

.h-broker {
  display: table-row;
}

.h-broker > span {
  display: table-cell;
  padding-right: 0.2em;
}

.h-broker:hover > span {
  background-color: lightblue;
}

.h-broker-type {
  min-width: 70px;
}

.h-broker-label {
  font-weight: bold;
  padding-left: 0.5em;
  min-width: 150px;
}

.h-broker-edit {
  text-decoration: underline;
  cursor: pointer;
}

.h-broker-remove {
  text-decoration: underline;
  cursor: pointer;
}

.h-brokers-add {
  text-decoration: underline;
  cursor: pointer;
}

.h-brokers-remove-dialog {
  width: 300px;
}


.h-status {
  
}

.h-status-message {
  
}

.h-status-message-info {
  color: black;
}

.h-status-message-error {
  color: red;
}

.h-editor-line {
  display: table-row;
}

.h-editor-argname {
  font-weight: bold;
}

.h-editor-argctrl {
  
}

.h-editor-argctrl-hint {
  font-size: small;
  font-style: italic;
}

.h-broker-editor {
  left: 600px !important;
  top: 100px !important;
}

.h-editor-form {
  display: table;
  border-spacing: 0.5em;
}

.h-editor-form div > span {
  display: table-cell;
}

.h-editor-footer {
  
}

.h-processes {
  
}

.h-processes-process {
  
}

.h-processes-process:hover {
  background-color: lightblue;
}

.h-processes-caption {
  font-size: medium;
  font-weight: bold;
  background-color: lightgray;
  padding-left: 0.5em;
}

.h-processes-footer {
  margin-bottom: 2em;
}

.h-processes-process > span {
  margin-right: 1em;
}

.h-processes-process-uuid {
  color: lightgray;
  display: none;
}

.h-processes-process-title {
  font-weight: bold; 
  padding-left: 0.5em;
}

.h-processes-process-status {
  
}

.h-processes-process-cancel {
  text-decoration: underline;
  cursor: pointer;
  color: red;
}

.h-processes-trigger {
  
}

.h-processes-trigger:hover {
  background-color: lightblue;
}

.h-processes-trigger-remove-dialog {
  width: 400px;
}

.h-processes-trigger-caption {
  font-size: medium;
  font-weight: bold;
  background-color: lightgray;
  padding-left: 0.5em;
}

.h-processes-trigger > span {
  margin-right: 1em;
}

.h-processes-trigger-uuid {
  color: lightgray;
  display: none;
}

.h-processes-trigger-title {
  font-weight: bold; 
  padding-left: 0.5em;
}

.h-processes-trigger-cancel {
  text-decoration: underline;
  cursor: pointer;
  color: red;
}

.h-status-completed {
  color: green;
}

.h-status-working {
  color: darkorange;
}


.h-tasks-content {
  display: table;
}

.h-task {
  display: table-row;
}

.h-tasks-add {
  text-decoration: underline;
  cursor: pointer;
}

.h-tasks-caption {
  font-size: medium;
  font-weight: bold;
  background-color: lightgray;
  padding-left: 0.5em;
}

.h-tasks-caption-text {
  
}

.h-tasks-caption-grouping {
  float: right;
  font-weight: normal;
  margin-right: 1em;
}

.h-tasks-caption-grouping #groupBy {
  
}

.h-tasks-caption-grouping label {
  
}

.h-task-group {
  width: 100%;
  border-top: grey 1px solid;
  margin-top: 1em;
}

.h-task-group-caption {
  background-color: lightgray
}


.h-tasks-footer > span {
  padding-right: 0.3em;
}

.h-tasks-import-button > input {
  cursor: pointer;
}

.h-tasks-remove-dialog {
  width: 300px;
}

.h-tasks-run-dialog {
  width: 300px;
}

.h-tasks-run-dialog-options {
  margin-top: 1em;
  margin-bottom: 1em;
}

.h-tasks-run-dialog-options > label {
  margin-left: 0.5em;
  font-weight: normal;
}

.h-history-caption {
  font-size: medium;
  font-weight: bold;
  background-color: lightgray;
}

.h-link {
  text-decoration: underline;
  cursor: pointer;
}

.h-task-remove {
}

.h-task-run {
  color: black;
  padding-right: 0.2em;
}

.h-task-export, .h-task-export:hover {
  color: black;
  padding-right: 0.2em;
}

.h-task-history {
}

.h-task-rename {
}

.h-tasks-content {
  display: table;
}

.h-task > span {
  display: table-cell;
  padding-right: 0.2em;
}

.h-task:hover > span {
  background-color: lightblue;
}

.h-task-label {
  font-weight: bold;
  padding-left: 0.5em;
}

.h-task-scheduled {
  min-width: 8px;
  font-weight: bolder;
}

.h-task-edit {
  text-decoration: underline;
  cursor: pointer;
}

.h-task-editor {
  min-width: 600px;
}

.h-task-editor-brokers {
  
}

.h-task-editor-cell {
  padding: 0.5em;
}

.h-task-editor-scroll {
  height: 400px; 
  overflow-y: auto;
}

.h-task-editor-cell-caption {
  font-weight: bold;
  background-color: lightgray;
}

.h-task-editor-inputs {
  
}

.h-task-editor-outputs {
  
}

.h-task-editor-row {
  
}

.h-task-editor-table {
  width: 100%;
}

.h-task-editor-content {
  
}

.h-task-editor-content .h-task-editor-cell {
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  width: 50%;
}

.h-task-editor-header {
  
}

.h-task-editor-input-label, .h-task-editor-output-label {
  margin-left: 0.5em;
}

.h-task-editor-footer {
  
}

.h-task-editor-name-section {
  margin-bottom: 1em;
}

.h-task-editor-name-label {
  margin-right: 1em;
}

.h-task-editor-name-value {
  width: 240px;
}

.h-task-renamer {
  
}

.h-task-renamer-name-section {
  margin-bottom: 1em;
}

.h-task-renamer-name-label {
  margin-right: 1em;
}

.h-task-renamer-name-value {
  width: 240px;
}

.h-task-renamer-footer {
  
}

.h-history-body {
  display: table;
  width: 100%;
}

.h-history-body > div {
  display: table-cell;
}

.h-history-content {
  display: table;
}

.h-history-failed {
  padding-left: 1em;
  width: 100%;
}

.h-history-failed > span {
  margin-right: 1em;
}

.h-history-header {
  display: table-row;
  font-weight: bold;
}

.h-event {
  display: table-row;
}

.h-event-prop {
  display: table-cell;
  padding: 0.2em;
  border-right: 1px solid grey;
  white-space: nowrap;
}

.h-history-header .h-event-prop {
  border-bottom: 1px solid black;
}

.h-period-radio {
  margin-right: 1em;
}

.h-error-header {
  width: 100%;
  background-color: red;
  color: white;
  padding: 15px;
  vertical-align: middle;
  font-weight: 400;
  font-size: 16px;
}

.h-error-content {
  padding: 15px;
}
