html,body {
  width:100%; 
  height:100%; 
  margin:0; 
  padding:0; 
  overflow:hidden;
  margin-bottom: 0px;
}

.h-app {
  height: 100%;
  width: 100%;
}

.h-header-layout {
  height: 20px;
}

.h-header {
  
}

.h-nav-layout {
  width: 120px;
}

.h-nav {
  height: 100%;
}

.h-nav > .h-nav-button {
  cursor: pointer;
  border: black solid thin;
  margin-bottom: 0.5em;
  margin-right: 1em;;
}

.h-nav > .h-nav-button:hover {
  background: aqua;
}

.h-stage-layout {
  
}

.h-stage {
  height: 100%;
}

.h-brokers {
  
}

.h-brokers-caption {
  font-size: medium;
  font-weight: bold;
  background-color: lightgray;
}

.h-broker {
  
}

.h-broker > span {
  margin-right: 1em;
}

.h-broker-type {
  font-size: medium;
  font-weight: bold;
  background-color: lightgray;
}

.h-broker-label {
}

.h-broker-edit {
  text-decoration: underline;
  cursor: pointer;
}

.h-broker-remove {
  text-decoration: underline;
  cursor: pointer;
}

.h-brokers-add {
  text-decoration: underline;
  cursor: pointer;
}


.h-status {
  
}

.h-status-message {
  
}

.h-status-message-info {
  color: black;
}

.h-status-message-error {
  color: red;
}

.h-broker-editor {
}

.h-broker-editor-form {
  display: table;
  border-spacing: 0.5em;
}

.h-broker-editor-line {
  display: table-row;
}

.h-broker-editor-form div > span {
  display: table-cell;
}

.h-broker-editor-argname {
  font-weight: bold;
}

.h-broker-editor-argctrl {
  
}

.h-broker-editor-footer {
  
}

.h-processes {
  
}

.h-processes-process {
  
}

.h-processes-caption {
  font-size: medium;
  font-weight: bold;
  background-color: lightgray;
}

.h-processes-process > span {
  margin-right: 1em;
}

.h-processes-process-uuid {
  color: lightgray;
}

.h-processes-process-title {
 font-weight: bold; 
}

.h-processes-process-status {
  
}

.h-status-completed {
  color: green;
}

.h-status-working {
  color: darkorange;
}


.h-tasks-add {
  text-decoration: underline;
  cursor: pointer;
}

.h-tasks-caption {
  font-size: medium;
  font-weight: bold;
  background-color: lightgray;
}

.h-task-remove {
  text-decoration: underline;
  cursor: pointer;
}

.h-task-run {
  text-decoration: underline;
  cursor: pointer;
}

.h-task-edit {
  text-decoration: underline;
  cursor: pointer;
}

.h-task-editor {
  
}

.h-task-editor-brokers {
  
}

.h-task-editor-cell {
  padding: 0.5em;
}

.h-task-editor-cell-caption {
  font-weight: bold;
  background-color: lightgray;
}

.h-task-editor-inputs {
  
}

.h-task-editor-outputs {
  
}

.h-task-editor-row {
  
}

.h-task-editor-table {
  
}

.h-task-editor-content {
  
}

.h-task-editor-content .h-task-editor-cell {
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
}

.h-task-editor-header {
  
}

.h-task-editor-input-label, .h-task-editor-output-label {
  margin-left: 0.5em;
}

.h-task-editor-footer {
  
}