html,body {
  height: 100%;
  margin-bottom: 0px;
}

.h-app {
  height: 100%;
  width: 100%;
}

.h-header-layout {
  height: 60px;
}

.h-header {
  height: 100%;
}

.h-content-layout {
  
}

.h-nav {
  height: 100%;
}

.h-nav-layout {
  width: 120px;
}

.h-stage {
  height: 100%;
}

.h-stage-layout {
  
}