html,body {
  height: 100%;
  margin-bottom: 0px;
}

.h-app {
  height: 100%;
  width: 100%;
}

.h-header-layout {
  height: 60px;
}

.h-header {
  height: 100%;
}

.h-content-layout {
  
}

.h-nav {
  height: 100%;
}

.h-nav > .h-nav-button {
  cursor: pointer;
  border: black solid thin;
  margin-bottom: 0.5em;
  margin-right: 1em;;
}

.h-nav > .h-nav-button:hover {
  background: aqua;
}

.h-nav-layout {
  width: 120px;
}

.h-stage {
  height: 100%;
}

.h-stage-layout {
  
}