<div class="h-app-container" data-dojo-attach-point="contentNode">
  <div class="h-app">
    <div class="h-header-layout">
      <div class="h-header-container">
        <div data-dojo-type="hrv/ui/main/Header"></div>
        <div data-dojo-type="hrv/ui/main/Nav"></div>
        <div class="h-version">Ver. 4.0.0</div>       
       <div> <button
      class="h-nav-button"
      data-dojo-type="dijit/form/Button"
      type="button"
      data-dojo-attach-event="onClick:_onLogout"
    >${i18n.header.logout}</button></div>
      </div>
    </div>
    <div class="h-stage-layout">
      <div data-dojo-type="hrv/ui/main/Status"></div>
      <div data-dojo-type="hrv/ui/main/Stage"></div>
    </div>
    <div class="h-stage-footer">© Harvester 2026</div>
  </div>
</div>
