<div class="h-nav" data-dojo-attach-point="contentNode">
  <div class="h-nav-button" data-dojo-attach-event="onclick:_onhome">
    ${i18n.navigation.home}
  </div>
  <div class="h-nav-button" data-dojo-attach-event="onclick:_onbrokers">
    ${i18n.navigation.brokers}
  </div>
  <div class="h-nav-button" data-dojo-attach-event="onclick:_ontasks">
    ${i18n.navigation.tasks}
  </div>
  <div class="h-nav-button" data-dojo-attach-event="onclick:_onprocesses">
    ${i18n.navigation.processes}
  </div>
</div>