<div class="h-broker-editor" data-dojo-attach-point="contentNode">
  <div id="dialogOne" data-dojo-type="dijit/Dialog" title="My Dialog Title" data-dojo-attach-point="dialogNode">
    Aaaa
    <!--
    <div data-dojo-type="dijit/layout/TabContainer" style="width: 200px; height: 300px;">
        <div data-dojo-type="dijit/layout/ContentPane" title="foo">Content of Tab "foo"</div>
        <div data-dojo-type="dijit/layout/ContentPane" title="boo">Hi, I'm Tab "boo"</div>
    </div>
    -->
  </div>
</div>